NEXT_PUBLIC_SITE_URL=your-site-url
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
DATABASE_URL="postgresql://postgres.cmvqbjbohfloobgrcdoo:your-password@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.cmvqbjbohfloobgrcdoo:your-password@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

# CSVインポートで作成されるユーザーのデフォルトパスワード
DEFAULT_USER_PASSWORD=P@ssw0rd