# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=muku

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost

# 初期管理者アカウント
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_NAME=Administrator
SEED_ADMIN_PASSWORD=P@ssw0rd

# ユーザーインポート時のデフォルトパスワード
DEFAULT_USER_PASSWORD=P@ssw0rd

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# ポート設定
NGINX_PORT=80










