# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
DIRECT_URL=postgresql://user:password@localhost:5432/dbname

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

# Default User
DEFAULT_USER_PASSWORD=P@ssw0rd

# Guest Login
GUEST_USER_EMAIL=guest@example.com
GUEST_USER_PASSWORD=P@ssw0rd

# Seed
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_NAME=Administrator
SEED_ADMIN_PASSWORD=P@ssw0rd
