# Database
DATABASE_URL='postgresql://username:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require'
DIRECT_URL='postgresql://username:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require'

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET='+To2Ilptzd8rpk/sgu9azKpOBGhzlwQs/KVpBORL4co='


# CSVインポートで作成されるユーザーのデフォルトパスワード
DEFAULT_USER_PASSWORD=P@ssw0rd

# Guest Login
GUEST_USER_EMAIL=guest@example.com
GUEST_USER_PASSWORD=P@ssw0rd
